<div id="carouselExample" class="carousel slide mb-4" data-bs-ride="carousel">

  @if (inBody) {
    <div class="carousel-inner">
      <div class="carousel-item home active">
        <img src="4646289.jpg" class="d-block w-100" alt="Slide 1">
      </div>
      <div class="carousel-item home ">
        <img src="4646289.jpg" class="d-block w-100" alt="Slide 2">
      </div>
      <div class="carousel-item home">
        <img src="4646289.jpg" class="d-block w-100" alt="Slide 3">
      </div>
    </div>
    <!--Scritta sopra la search box-->
    <div class="overlay d-flex flex-column justify-content-center align-items-center">
      <div class="text-container">
        <h5 id="animatedText" class="display-4">Scritta sopra</h5>
      </div>
      <form class="d-flex mt-2 search-form">
        <div class="d-flex align-items-center">

          <!-- Search Bar -->
          <div class="input-group search-bar" [ngClass]="{ 'focused': isFocused }">
            <input
              type="text"
              class="form-control"
              placeholder="Cerca..."
              [(ngModel)]="searchQuery"
              name="searchQuery"
              (focus)="expandSearchBar()"
              (blur)="collapseSearchBar()"
            />
            <button
              class="btn "
              type="button"
              *ngIf="isExpanded"
              (click)="onSearch()"
            >
              <i class="fa-solid  fa-search"></i>
            </button>
          </div>
        </div>


      </form>
    </div>
  } @else {
    <div class="carousel-inner">

      <div class="carousel-item active" *ngFor="let imgURL of immaginiURLs; let i = index" [class.active]="i === 0">
        <img [src]="imgURL" class="d-block w-100 carousel-img" alt="Slide {{ i + 1 }}">
      </div>

    </div>
    <!--Pulsanti avanti e indietro carosello-->
    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExample"
            data-bs-slide="prev">
      <div class="caret-div">
        <span class="fa-solid fa-caret-left mx-2" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </div>

    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <div class="caret-div">
        <span class="fa-solid fa-caret-right mx-2" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </div>

    </button>
  }
</div>
