<a href="/prova">
  <div class="card">
    <img src="R.jpg" class="card-img-top" alt="Immagine della card">
    <div class="card-body">
      <h5 class="card-title">Nome del Prodotto</h5>
      <div class="card-rating mb-2">
        <span class="star"><i class="fa-solid fa-star"></i></span>
        <span class="star"><i class="fa-solid fa-star"></i></span>
        <span class="star"><i class="fa-solid fa-star"></i></span>
        <span class="star"><i class="fa-solid fa-star"></i></span>
        <span class="star"><i class="fa-solid fa-star-half"></i></span>
        <!--span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9734;</span-->
      </div>
      <p class="card-text mb-1">Questa è una breve descrizione del prodotto. È un ottimo prodotto che vale la pena
        provare!</p>
      <div class="card-date text-body-secondary">01 dicembre</div>
    </div>
  </div>
</a>
