<a routerLink="{{travel.id}}">
  <div class="card">
    <img *ngIf="copertina" [src]="copertina" class="card-img-top" alt="Immagine della card">
    <div *ngIf="!copertina" class="p-3">
      <i class="fas fa-image"></i> Immagine non disponibile
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <div class="row justify-content-between">
          <div class="col-7 fs-4">
            <strong>{{ travel.destination }}</strong>
          </div>
          <div class="col-5 no-wrap fw-semibold text-end">
            <span *ngIf="travel.oldPrice > 0" class="text-muted text-decoration-line-through me-2">
              {{ travel.oldPrice }}€
            </span>
            {{ travel.price }}€
          </div>
          <div class="row">
            <div class="col-12 type ">
              {{ travel.travelType.toLowerCase() }}
            </div>
            <div class="col-12 star">
              <app-star [rating]="stars" [beat]="false"></app-star>
            </div>
          </div>
        </div>
      </h5>
      <div *ngIf="isAdmin" class="btn-group position-absolute top-0 end-0 m-2" style="display: none;">
        <button class="btn btn-primary" (click)="handleMouse($event); showUpdateTravel=true;">Modifica</button>
        <button class="btn btn-danger" (click)="handleMouse($event); showDeleteTravel=true;">Elimina</button>
      </div>
      <p class="card-text mb-1">{{ travel.description }}</p>
      <div class="card-date text-body-secondary">{{ travel.startDate }} - {{ travel.endDate }}</div>
    </div>
  </div>
</a>

<app-update-travel
  *ngIf="showUpdateTravel"
  [travel]="travel"
  (closeUpdateTravel)="closeUpdateTravel()">
</app-update-travel>
<app-delete-travel
  *ngIf="showDeleteTravel"
  [travel]="travel"
  (closeDeleteTravel)="closeDeleteTravel()"
  (localDeleteTravel)="localDeleteTravel.emit()">
</app-delete-travel>
