.star {
  color: #ffcc00;
}

.card-date {
  font-size: 0.9em;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card-body {
  min-width: 18rem;
  padding-bottom: 40px; /* Spazio per la data */
}

.card {
  transition: transform 0.3s ease; /* Transizione per l'effetto hover */
  min-width: 18rem;
}

.card:hover {
  transform: scale(1.05); /* Aumenta la dimensione della card al passaggio del mouse */
}

a {
  text-decoration: none;
}


.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-img-top {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}
