<div class="modal" tabindex="-1" [ngClass]="{ 'show': true }" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Conferma Email</h5>
        <button type="button" class="btn-close" (click)="onClose()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @if (!showResetPasswordForm) {
          @if (isLoading) {
            <div class="loading-spinner text-center">
              <p>Verifica in corso, attendere...</p>
              <div class="spinner-border" role="status">
                <span class="sr-only">Caricamento...</span>
              </div>
            </div>
          }
          @if (isError) {
            <div class="text-danger">
              <p>Si è verificato un errore durante la verifica dell'email.</p>
            </div>
          }
        } @else {
          <form id="resetPasswordForm" (ngSubmit)="onResetPassword()" method="POST">
            <h3 class="mb-3">Nuova Password</h3>
            <div class="input-group" [class.is-invalid-container]="passwordError">
              <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
              <div class="form-floating flex-grow-1">
                <input
                  id="resetPassword"
                  type="password"
                  class="form-control"
                  [(ngModel)]="password"
                  name="password"
                  required
                  [type]="showPassword ? 'text' : 'password'"
                  (input)="passwordError = ''"
                  [class.is-invalid]="passwordError"
                  placeholder="Password">
                <label for="resetPassword" class="form-label">Password</label>
              </div>
              @if (showPassword) {
                <span class="input-group-text password-toggle" (click)="togglePasswordVisibility()">
              <i class="fa-solid fa-eye-slash"></i>
          </span>
              } @else {
                <span class="input-group-text password-toggle" (click)="togglePasswordVisibility()">
              <i class="fa-solid fa-eye"></i>
          </span>
              }
            </div>
            @if (passwordError) {
              <div class="invalid-feedback d-block">{{ passwordError }}</div>
            }
            <div class="mt-3 input-group" [class.is-invalid-container]="confirmPasswordError">
              <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
              <div class="form-floating flex-grow-1">
                <input
                  id="confirmResetPassword"
                  type="password"
                  class="form-control"
                  [(ngModel)]="confirmPassword"
                  name="confirmPassword"
                  required
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  (input)="confirmPasswordError = ''"
                  [class.is-invalid]="confirmPasswordError"
                  placeholder="Conferma Password">
                <label for="confirmResetPassword" class="form-label">Conferma Password</label>
              </div>
              @if (showConfirmPassword) {
                <span class="input-group-text password-toggle" (click)="toggleConfirmPasswordVisibility()">
              <i class="fa-solid fa-eye-slash"></i>
          </span>
              } @else {
                <span class="input-group-text password-toggle" (click)="toggleConfirmPasswordVisibility()">
              <i class="fa-solid fa-eye"></i>
          </span>
              }
            </div>
            @if (confirmPasswordError) {
              <div class="invalid-feedback d-block">{{ confirmPasswordError }}</div>
            }
            <div class="mt-3">
              <button type="submit" class="btn btn-primary w-100">Imposta Password</button>
            </div>
          </form>
        }
      </div>
      <div class="modal-footer">
        <button (click)="onClose()" class="btn btn-secondary">Chiudi</button>
      </div>
    </div>
  </div>
</div>
