<div class="container mt-5">
  <div class="row align-items-center mt-5">
    <div class="col-md-8 mt-4">
      <h1 class="display-6">{{ travel?.destinazione }}</h1>
      <h3 class="text-muted">{{
          travel?.descrizione
        }}
      </h3>
    </div>
    <div class="col-12 prova col-md-4 col-lg-4 my-3">
      <div class="p-3 border rounded shadow-sm h-100">
        <div class="row">
          <h4 class="col-12 d-flex flex-row flex-md-column flex-xl-row justify-content-between">
            <span class="text-nowrap fw-bold">Data partenza:</span>
            <span class="text-nowrap">{{ travel?.dataPartenza }}</span>
          </h4>
        </div>
        <div class="row mb-2">
          <h4 class="col-12 d-flex flex-row flex-md-column flex-xl-row justify-content-between">
            <span class="text-nowrap fw-bold">Data ritorno:</span>
            <span class="text-nowrap">{{ travel?.dataRitorno }}</span>
          </h4>
        </div>
        <div class="col-12 d-flex flex-row flex-md-column flex-xl-row justify-content-between mb-2 number-input">
          <h5 class="fw-bold">Numero di partecipanti:</h5>
          <input type="number" class="increment-input" id="incrementInput" min="0" max="{{travel?.postiDisponibile}}"
                 step="1" value="0">
        </div>
        <div class="col-12 mt-3">
          <button type="submit" class="btn btn-success w-100"><i class="fa-solid fa-cart-shopping me-2"></i>
            Aggiungi al Carrello
          </button>
        </div>
        <div class="col-12 my-2">
          <button type="submit" class="btn btn-primary w-100"><i class="fa-regular fa-heart me-2"></i>
            Aggiungi alla lista dei desideri
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Immagine sotto il div con class="row align-items-center" -->

  <ul class="nav nav-tabs justify-content-center border-2">
    <li class="nav-item rounded-top border-4 ">
      <a class="nav-link" routerLink="info" aria-current="page" routerLinkActive="active">Info</a>
    </li>
    <li class="nav-item rounded-top border-4">
      <a class="nav-link" routerLink="img" aria-current="page" routerLinkActive="active">Immagini</a>
    </li>
  </ul>

  <div class="mt-3 mx-5">
    <router-outlet></router-outlet>
  </div>
</div>
