<app-carousel></app-carousel>

<div class="container my-5">
  <app-filtri [filters]="filters" [alertMessage]="alertMessage" [isLoading]="isLoading" (loadTravel)="loadTravels()"
              (resetTravels)="resetTravels()"></app-filtri>

  <div class="my-3 d-flex justify-content-end">
    <div class="btn-group me-2" role="group" aria-label="Ordinamento Viaggi">
      <button *ngFor="let order of travelOrders"
              type="button"
              class="btn btn-outline-primary"
              (click)="setOrder(order)"> {{ order }}
      </button>
    </div>
    <button *ngIf="filters.reverse" type="button" class="btn btn-outline-secondary" (click)="toggleReverse()">
      <i class="fa-solid fa-arrow-up-wide-short"></i>
      Ordinamento Decrescente
    </button>
    <button *ngIf="!filters.reverse" type="button" class="btn btn-outline-secondary" (click)="toggleReverse()">
      <i class="fa-solid fa-arrow-down-wide-short"></i>
      Ordinamento Crescente
    </button>
  </div>
  
  @if (travelsMatrix && travelsMatrix.length > 0) {
    <div class="row" *ngFor="let travelRow of travelsMatrix">
      <div class="col-12 col-lg-4 my-3" *ngFor="let travel of travelRow">
        <app-card *ngIf="travel" [travel]="travel" (localDeleteTravel)="localDeleteTravel(travel.id)"></app-card>
      </div>
    </div>
  } @else {
    <div class="text-center my-5">
      <p class="text-muted fs-5">Non è presente alcun viaggio con i criteri selezionati.</p>
    </div>
  }
  @if (index < elementiTot) {
    <button class="btn btn-primary" (click)="loadTravels()" [disabled]="isLoading">
      <span *ngIf="isLoading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"></span>
      <span *ngIf="!isLoading">Mostra altri</span>
    </button>
  }
</div>
