* {
  font-family: 'Roboto', sans-serif;
}

.bg-transparent {
  background-color: transparent !important;
  transition: background-color 0.3s ease;
}

.bg-white {
  background-color: white !important;
  transition: background-color 0.3s ease;
}

.navbar {
  z-index: 1000;
}
