* {
  font-family: 'Roboto', sans-serif;
}


.navbar {
  z-index: 1000;
  padding: 0; /* Rimuove il padding per adattarsi all'altezza dell'immagine */

}

.custom-width {
  width: 35%; /* Imposta la larghezza desiderata */
  height: auto; /* Mantiene le proporzioni */
}


