<div class="d-flex flex-column min-vh-100">
  <gmpx-api-loader [key]="environment.googleMapsApiKey"
                   solution-channel="GMP_GE_mapsandplacesautocomplete_v2"></gmpx-api-loader>
  <header class="navbar sticky-top bg-white border-bottom shadow-sm">
    <nav class="navbar navbar-expand navbar-light w-100">
      <div class="container-fluid d-flex justify-content-between align-items-center">
        <a routerLink="/body1" class="navbar-brand">
          <img class="img-fluid custom-width" src="ViaJar-Hub.png" alt="Home">
        </a>
        <ul class="navbar-nav d-flex flex-row ms-auto gap-3">
          @if (!user) {
            <li class="nav-item dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                      aria-expanded="false" data-bs-auto-close="outside" (click)="toggleDropdown()">
                Accedi
              </button>
              <app-login (setCurrentForm)="this.setCurrentForm()" [isOpened]="isDropdownOpened"
                         [currentForm]="currentFrom"></app-login>
            </li>
          } @else {
            <li class="nav-item dropdown">
              <button type="button" class="btn btn-link rounded dropdown-toggle" data-bs-toggle="dropdown"
                      aria-expanded="false">
                <!--TODO sostituire con immagine profilo utente se presente, altrimenti mostrare icona-->
                <i class="fa-solid fa-circle-user fa-xl"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end shadow-sm rounded p-1" style="width: 200px;">
                @if (user.authorities[0].authority == UserRole.ADMIN) {
                  <li class="mb-1"><a class="dropdown-item fw-bold " routerLink="/admin">Admin</a>
                  </li>
                } @else {
                  <li class="mb-1"><a class="dropdown-item fw-bold " routerLink="/client">Client</a>
                  </li>
                }
                <li class="mb-1">
                  <button type="button"
                          class="btn btn-outline-danger w-100 d-flex justify-content-between align-items-center fw-bold"
                          (click)="onLogout()">
                    Logout<i class="fa-solid fa-right-from-bracket"></i></button>
                </li>
              </ul>
            </li>
          }
        </ul>
      </div>
    </nav>
  </header>
  <main class="flex-grow-1">
    <router-outlet></router-outlet>
  </main>
  <footer class="bg-dark text-white text-center py-3 mt-4">
    <div class="container">
      <p class="mb-0">© 2024 ViaJar Hub - All Rights Reserved</p>
    </div>
  </footer>
</div>
