<div class="d-flex flex-column min-vh-100">
  <header class="navbar sticky-top bg-white border-bottom shadow-sm">
    <div class="container">
      <a routerLink="/body1" class="navbar-brand">
        <img class="img-fluid custom-width" src="ViaJar-Hub.png" alt="Home">
      </a>
      <a routerLink="/client" class="navbar-brand">a</a>
    </div>
  </header>
  <main class="flex-grow-1">
    <router-outlet></router-outlet>
  </main>
  <footer class="bg-dark text-white text-center py-3 mt-4">
    <p>Footer</p>
  </footer>
</div>
