<div class="container my-5">
  <!-- Header Section -->

  <!-- Colonna Profilo -->
  <div class="card p-4 ">
    <div class="row justify-content-between">
      <div class="col-lg-3 col-9  d-flex align-items-center">
        <img src="4646289.jpg"
             alt="Profile Picture"
             class="rounded-circle me-4"
             width="100"
             height="100">
        <!-- User Info -->
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center"><h4 class="mb-1 me-2">Piero</h4>
          </div>
          <p class="text-muted mb-0">Admin</p>
          <small class="text-muted">
            Join at 20 09 2019

          </small>
        </div>
      </div>
      <div class="col-3 mt-5">
        <button class="btn btn-primary" (click)="openPopup()">
          Aggiungi
        </button>
      </div>
      <div class="col-lg-6 col-12">
        <div class="row">
          <div class="col-5 m-3 card-data"><h5 class="mt-2 fw-bold">Viaggi disponibili:</h5>
            <p class="fs-4">120</p></div>
          <div class="col-5 m-3 card-data"><h5 class="mt-2 fw-bold">Recensioni effettuate:</h5>
            <p class="fs-4">20</p></div>
        </div>
      </div>
    </div>
  </div>

  <!--Pop up page-->
  <div class="modal fade" [ngClass]="{'show': isPopupVisible}"
       [ngStyle]="{'display': isPopupVisible ? 'block' : 'none'}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Aggiungi un viaggio</h5>
          <button type="button" class="btn-close" (click)="closePopup()" aria-label="Close"></button>
        </div>
        <div class="modal-body shadow-lg">
          <!-- Contenuto del modale -->
          <app-add-travel (closeModal)="closePopup()"></app-add-travel>
        </div>
      </div>
    </div>
  </div>

  <!-- Skills and Stats Section -->
  <div class="row mt-4 mb-3">
    <!-- Skills -->
    <div class="col-lg-6 mb-4">
      <div class="card p-3 mb-2 shadow-sm">
        <h5 class="fw-bold  mb-4">Viaggi più votati</h5>
        <div class="card-data  m-3" *ngFor="let card of [1, 2, 3]">
          <div class="row">
            <div class="col mx-2">
              <h5 class="card-title  mt-2 mb-0 fw-bold">Nome del Prodotto</h5>
              <span class="star"><i class="fa-solid fa-star fa-xs"></i></span>
              <span class="star"><i class="fa-solid fa-star fa-xs"></i></span>
              <span class="star"><i class="fa-solid fa-star fa-xs"></i></span>
              <span class="star"><i class="fa-solid fa-star fa-xs"></i></span>
              <span class="star"><i class="fa-solid fa-star-half fa-xs"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card p-3 shadow-sm">
        <h5 class="fw-bold">Bilancio</h5>
        <div class="m-3">
          <div class="row mt-2 justify-content-around">
            <div class="col-lg-5 mb-4 col-12 mx-2 card-data">
              <h5 class="card-title mt-2 mb-0 no-wrap fw-bold">Entrate giornaliere:</h5>
              <p class="mt-2 text-center text-success fs-3 fw-bold">{{ dailyIncome }}$</p>
            </div>
            <div class="col-lg-5 mb-4 col-12 mx-2 card-data">
              <h5 class="card-title mt-2 mb-0 no-wrap fw-bold">Entrate mensili:</h5>
              <p class="mt-2 text-center text-success fs-3 fw-bold">{{ monthlyIncome }}$</p>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-lg-5 mb-4 col-12 mx-2 card-data">
              <h5 class="card-title mt-2 mb-0 no-wrap fw-bold">Entrate annuali:</h5>
              <p class="mt-2 text-center text-success fs-3 fw-bold">{{ yearlyIncome }}$</p>
            </div>
            <div class="col-lg-5 mb-4 col-12 mx-2 card-data">
              <h5 class="card-title mt-2 mb-0 no-wrap fw-bold">Entrate totali:</h5>
              <p class="mt-2 text-center text-success fs-3 fw-bold">{{ totalIncome }}$</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    <!-- Favorite Food -->
    <div class="col-xl-6 mt-2 mb-4">
      <div class="card p-3 shadow-sm">
        <h5 class="fw-bold">Ultime recensioni</h5>
        <div *ngFor="let card of [1, 2, 3]">
          <app-review></app-review>
        </div>
      </div>
    </div>
    <!-- Hobby Activity -->
    <div class="col-xl-6 mt-2 justify-content-center">
      <div class="card p-3 shadow-sm container-fluid">
        <div class="container ">
          <h5 class="fw-bold mb-4">Numero prenotati</h5>
          <div class="d-flex justify-content-between align-items-end histogram">
            <div
              *ngFor="let bar of animatedData; let i = index"
              class="text-center"
            >
              <!-- Contenitore della barra per garantire che parta dal basso -->
              <div class="bar-container">
                <div
                  class="bar bg-primary mx-auto"
                  [style.height]="bar + 'px'"
                  [attr.title]="'Valore: ' + bar"
                ></div>
              </div>
              <!-- Etichetta sotto la barra -->
              <small class="d-block mt-2">{{ data[i].label }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
