<div class="container my-5">
  <!-- Header Section -->

  <!-- Colonna Profilo -->
  <div class="card p-4 ">
    <div class="row justify-content-between">
      <div class="col-lg-3 col-9  d-flex align-items-center">

        <img src="4646289.jpg"
             alt="Profile Picture"
             class="rounded-circle me-4"
             width="100"
             height="100"/>
        <!-- User Info -->
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center"><h4 class="mb-1 me-2">Piero</h4>
          </div>
          <p class="text-muted mb-0">Admin</p> <small class="text-muted">Join at 20 09 2019</small></div>
      </div>
      <div class="col-2 mt-5">
        <button class="btn btn-primary">Add</button>
      </div>
      <div class="col-lg-6 col-12">
        <div class="row">
          <div class="col-5 m-3 card-data"><h5 class="mt-2"><strong>Viaggi disponibili:</strong></h5>
            <p class="fs-4">120</p></div>
          <div class="col-5 m-3 card-data"><h5 class="mt-2"><strong>Recensioni effettuate:</strong></h5>
            <p class="fs-4">20</p></div>
        </div>
      </div>
    </div>

  </div>

  <!-- Skills and Stats Section -->
  <div class="row mt-4 mb-3">
    <!-- Skills -->
    <div class="col-lg-6 mb-4">
      <div class="card p-3 shadow-sm">
        <h5><strong>Viaggi più votati</strong></h5>
        <div class="card-data m-3" *ngFor="let card of [1, 2, 3]">
          <div class="row">
            <div class="col mx-2">
              <h5 class="card-title  mt-2 mb-0 "><strong>Nome del Prodotto</strong></h5>


              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9734;</span>


            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="card p-3 shadow-sm">
        <h5><strong>Bilancio</strong></h5>
        <div class="m-3">
          <div class="row mt-2 justify-content-around">
            <div class="col-lg-5 mb-4 col-12 mx-2 card-data">
              <h5 class="card-title mt-2 mb-0 no-wrap"><strong>Entrate giornaliere:</strong></h5>
              <p class="mt-2 text-center text-success fs-3"><strong>{{ dailyIncome }}$</strong></p>
            </div>
            <div class="col-lg-5 mb-4 col-12 mx-2 card-data">
              <h5 class="card-title mt-2 mb-0 no-wrap"><strong>Entrate mensili:</strong></h5>
              <p class="mt-2 text-center text-success fs-3"><strong>{{ monthlyIncome }}$</strong></p>
            </div>
          </div>
          <div class="row justify-content-around">
            <div class="col-lg-5 mb-4 col-12 mx-2 card-data">
              <h5 class="card-title mt-2 mb-0 no-wrap"><strong>Entrate annuali:</strong></h5>
              <p class="mt-2 text-center text-success fs-3"><strong>{{ yearlyIncome }}$</strong></p>
            </div>
            <div class="col-lg-5 mb-4 col-12 mx-2 card-data">
              <h5 class="card-title mt-2 mb-0 no-wrap"><strong>Entrate totali:</strong></h5>
              <p class="mt-2 text-center text-success fs-3"><strong>{{ totalIncome }}$</strong></p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="row ">
    <!-- Favorite Food -->
    <div class="col-xl-6 mt-2 mb-4">
      <div class="card p-3 shadow-sm">
        <h5><strong>Ultime recensioni</strong></h5>
        <div class="card-data m-3" *ngFor="let card of [1, 2, 3]">
          <h5 class="card-title ms-2 mt-2 mb-0"><strong>Nome del Viaggio recensito</strong></h5>


          <div class="card-rating ms-2 ">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9734;</span>

          </div>
          <p class="card-text mb-1 ms-2">Questa è una breve descrizione del prodotto. È un ottimo prodotto che vale la
            pena
            provare!</p>


        </div>

      </div>
    </div>
    <!-- Hobby Activity -->
    <div class="col-xl-6 mt-2 justify-content-center">
      <div class="card p-3 shadow-sm container-fluid">
        <div class="container ">

          <h5 class=" mb-4"><strong>Numero prenotati</strong></h5>
          <div class="d-flex justify-content-between align-items-end histogram">
            <div
              *ngFor="let bar of animatedData; let i = index"
              class="text-center"
            >
              <!-- Contenitore della barra per garantire che parta dal basso -->
              <div class="bar-container">
                <div
                  class="bar bg-primary mx-auto"
                  [style.height]="bar + 'px'"
                  [attr.title]="'Valore: ' + bar"
                ></div>
              </div>
              <!-- Etichetta sotto la barra -->
              <small class="d-block mt-2">{{ data[i].label }}</small>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>


