<div class="modal" [ngClass]="{'show': isMakeAdminVisible}"
     [ngStyle]="{'display': isMakeAdminVisible ? 'block' : 'none'}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Seleziona un utente</h5>
        <button type="button" class="btn-close" (click)="closeMakeAdminPopup.emit()"></button>
      </div>
      <div class="modal-body">
        <form id="makeAdminForm" (ngSubmit)="onSubmit()" autocomplete="off">
          <div *ngIf="alertMessage" class="alert alert-danger" role="alert">
            {{ alertMessage }}
          </div>
          <div class="input-group" [class.is-invalid-container]="emailError">
            <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
            <div class="form-floating flex-grow-1">
              <input id="email" type="email" class="form-control" [(ngModel)]="email" name="email" required
                     (input)="onEmailInput()"
                     (focus)="onFocus()"
                     [class.is-invalid]="emailError"
                     placeholder="Email">
              <label for="email" class="form-label">Email</label>
            </div>
            <ul class="dropdown-menu" [class.show]="isInputFocused && filteredEmails.length">
              <li *ngFor="let suggestion of filteredEmails" class="dropdown-item"
                  (mousedown)="selectEmail(suggestion)">
                {{ suggestion }}
              </li>
            </ul>
          </div>
          <div *ngIf="emailError" class="invalid-feedback d-block">{{ emailError }}</div>
          <div class="mt-3">
            <button type="submit" class="btn btn-outline-primary me-2" [disabled]="isLoading">
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status"
                  aria-hidden="true"></span>
              <span *ngIf="!isLoading">Conferma</span>
            </button>
            <button type="reset" class="btn btn-secondary" (click)="resetEmail()" [disabled]="isLoading">
              Ripristina
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
