<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Email</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center; color: black;">
<img src="cid:{{logoCid}}" alt="Logo" style="max-width: 150px; margin-bottom: 20px;">
<h2>Hai ricevuto un nuovo messaggio di contatto</h2>
<p><strong>Da:</strong> {{from}}</p>
<p><strong>Messaggio:</strong></p>
<p>{{body}}</p>
<p style="font-size: 14px; color: #555; margin-top: 20px">Se non hai richiesto questa email, ignora questo
    messaggio.</p>
</body>
</html>
