<!DOCTYPE html>
<html lang="it">
<head>
    <title>Reset Password</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center; color: black;">
<img src="cid:{{logoCid}}" alt="Logo" style="max-width: 150px; margin-bottom: 20px;">
<h2>Reimposta la tua password</h2>
<p>Hai richiesto di reimpostare la tua password. Clicca sul pulsante qui sotto per procedere:</p>
<a href="{{resetURL}}"
   style="display: inline-block; padding: 10px 20px; background-color:#007bff; color: white; text-decoration: none; border-radius: 5px">Reimposta
    Password</a>
<p style="font-size: 14px; color: #555; margin-top: 20px">Se non hai richiesto questa modifica, ignora questa email.</p>
</body>
</html>
