<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Verifica Email</title>
</head>
<body style="font-family: Arial, sans-serif; text-align: center; color: black;">
<img src="cid:{{logoCid}}" alt="Logo" style="max-width: 150px; margin-bottom: 20px;">
<h2>Verifica il tuo indirizzo email</h2>
<p>Ciao, clicca sul pulsante qui sotto per verificare il tuo indirizzo email:</p>
<a href="{{confirmationURL}}"
   style="display: inline-block; padding: 10px 20px; background-color:#007bff; color: white; text-decoration: none; border-radius: 5px">Verifica
    Email</a>
<p style="font-size: 14px; color: #555; margin-top: 20px">Se non hai richiesto questa email, ignora questo
    messaggio.</p>
</body>
</html>
