<div class="row d-flex align-items-center mx-auto">
  <!-- Colonna 1 -->
  <div class="col-12 col-lg-6 my-3">
    <div class="container mt-2">
      <!-- Card container -->
      <div class="card shadow-sm p-4">
        <!-- Rating Section -->
        <div class="text-center">
          <h1 class="display-4">3.75</h1>
          <div class="d-flex justify-content-center align-items-center mb-2">
            <!-- Stars -->
            <span class="text-warning fs-4 me-1"><i class="fa-solid fa-star fa-sm fa-beat"></i></span>
            <span class="text-warning fs-4 me-1"><i class="fa-solid fa-star fa-sm fa-beat"></i></span>
            <span class="text-warning fs-4 me-1"><i class="fa-solid fa-star fa-sm fa-beat"></i></span>
            <span class="text-warning fs-4 me-1"><i class="fa-solid fa-star fa-sm fa-beat"></i></span>
            <span class="text-warning fs-4 me-1"><i class="fa-solid fa-star-half fa-sm fa-beat"></i></span>

          </div>
          <p class="text-muted">(1,297 Reviews)</p>
        </div>

        <!-- Most Liked Comments Section -->
        <div class="mt-4">
          <h5 class="mb-3">Most liked comments</h5>
          <!-- Comment 1 -->
          <app-review></app-review>
          <!-- Comment 2 -->
          <app-review></app-review>
        </div>
      </div>
    </div>
  </div>

  <!-- Colonna 2 -->
  <div class="col-12 col-lg-6 my-3">
    <img class="img-fluid" alt="" src="map.png">
  </div>
</div>
